<h1 class="restaurant-show-title"><i class="fas fa-chevron-circle-right"></i>{{ restaurant.name }}</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <p class="mb-1">
        <h5>
          <span class="text-secondary badge  bg-info text-dark font-weight-normal">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          {{ restaurant.category }}
        </h5>
      </p>
     
      <p class="mb-1">
        <h5>
        <span class="text-secondary badge bg-info text-dark font-weight-normal">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{ restaurant.location }}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
        </h5>
      </p>

      <p class="mb-1">
        <h5>
        <span class="text-secondary badge bg-info text-dark font-weight-normal">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{ restaurant.phone }}
        </h5>
      </p>
      <div class="card mb-5">
        <img class="mt-3 card-img-top rounded mx-auto d-block mb-4 w-100 " src="{{restaurant.image}}" alt="{{restaurant.name}}"
                style="max-width: 500px;">
        <div class="card-body">
          <p class="card-text"><i class="fas fa-chevron-circle-right"></i>{{ restaurant.description }}
        </div>
          </p>
      </div>
    </div>
  </div>
</div>